<!doctype html>
<html>
  <head>
    <title>browser source</title>
    <style>
    	#tweet{display:none;}
    </style>
  </head>
  <body>
    <div id="tweet">
    </div>
  </body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
  $(function () {
    var socket = io();
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const room = urlParams.get('room')

    socket.on(room, function(tweets){
    	for (const tweet of tweets) {
    		$("#tweet").fadeOut(1000, function() {
    			$('#tweet').html("");
				  twttr.widgets.createTweet(
					  tweet,
					  document.getElementById('tweet'),
					  {
					    theme: 'light',
		          conversation: 'none',
		          cards: 'hidden',
		          width: 550,
					  }
					);
				}).fadeIn(1000).delay(4000).fadeOut(500).delay(1000);
      };
    });
  });
</script>
