<!doctype html>
<html>
  <head>
    <script src='/js/browser_source_custom.js' type='text/javascript'></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="/css/tweets_custom.css" rel="stylesheet" type="text/css">
    <title>browser source</title>
    <style>
    	#tweet{display:none;}
    </style>
  </head>
  <body>
    <div id="tweet" class="w3-container">
      <div class="w3-card-4" style="width:20%;">
        <header class="w3-container w3-blue">
          <img src="" id="tweet-img" class="avatar">
          <img style="float: right;" class="twitter" alt="" src="/images/twitter.png" />
          <p class="header full_name" id="tweet-author"><p class="header at" id="tweet-at"></p></p>
        </header>
        <div class="w3-container content  tweet-div">
          <p id="tweet-text" class="content"></p>
        </div>
      </div>
    </div>
  </body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  enable_socket(<%- JSON.stringify(settings) %>);
</script>

<style>
  <%= settings.css %>
</style>