<!doctype html>
<html>
  <%- include('partials/header') %>
  <body>
    <div class="container">
      <form action="/tweets/add/" method="post">
        <label for="tweet_url">Enter url: </label>
        <input id="tweet_url" type="text" name="url_field" value="">
        <input type="submit" value="OK">
      </form>
    </div>
    <div class="container">
      <div class="row">
        <% for (var i = 0; i < tweets.length; i++) { %>
          <div class="col-sm-4">
            <div id="<%= tweets[i] %>"></div>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
  $(function () {
    var tweets = <%- JSON.stringify(tweets) %>;
    for (var i = 0; i < tweets.length; i++) {
      console.log(tweets[i]);
      twttr.widgets.createTweet(
        tweets[i],
        document.getElementById(tweets[i]),
        {
          theme: 'light',
          conversation: 'none',
          cards: 'hidden',
          width: 550,
        }
      );
    };
  });
</script>