img {
  margin-top: 5px;
  filter: invert(1);
  width: 20px;
}

p.full_name {
  font-size: 20px;
}

p.header {
  margin-top: 10px;
  line-height: 5px;   /* within paragraph */
  margin-bottom: 10px; /* between paragraphs */
}

.content {
  background-color: #39373a!important;
  color: white;
}

.at {
  color: #e6e5e5;
}

p.content {
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.tweet-div {
  pointer-events: none;
}
