twitter-widget {
  pointer-events: none;
}

.twitter-tweet {
  pointer-events: none;
}

.twitter-tweet-rendered {
  pointer-events: none;
}

#main {
  transition: margin-right .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}